Andy Mendoza <amendozap9@uteq.edu.ec> andymendozap03 <amendozap9@uteq.edu.ec>
Edson Daniel Fuertes Arraes <efuertesa2@uteq.edu.ec> EDSON DANIEL FUERTES ARRAES <efuertesa2@uteq.edu.ec>
Edson Daniel Fuertes Arraes <efuertesa2@uteq.edu.ec> MiloSaurio4kHD <efuertesa2@uteq.edu.ec>
Genesis Gutierrez <ggutierrezo@uteq.edu.ec> GenessiGutierrez <ggutierrezo@uteq.edu.ec>
Gary Morales <gmoraless2@uteq.edu.ec> MoralesGary <gmoraless2@uteq.edu.ec>
Gary Morales <gmoraless2@uteq.edu.ec> MoralesGaryUteq <gmoraless2@uteq.edu.ec>
Jimmy Nieves <jnievess@uteq.edu.ec> jnievess-lang <jnievess@uteq.edu.ec>
Jimmy Nieves <jnievess@uteq.edu.ec> Nieves Jimmy <jnievess@uteq.edu.ec>
