# ============================
# Sistema Operativo
# ============================
Thumbs.db
Desktop.ini
.DS_Store

# ============================
# Visual Studio
# ============================
.vs/
bin/
obj/
*.user
*.suo

# ============================
# Office (archivos temporales)
# ============================
~$*.docx
~$*.xlsx
~$*.pptx

# ============================
# LaTeX
# ============================
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

# ============================
# Python
# ============================
__pycache__/
*.pyc

# ============================
# Logs
# ============================
*.log

# ============================
# Archivos temporales
# ============================
*.tmp
*.bak
